/*
 * style.css (admin)
 */
.mce-i-shortcodes{
    background-image:url("shortcodes.png") !important;
}
.fR{
    float: right;
}
.fL{
    float: left;
}
.fN{
    float: none;
}

/** Theme Options (Tabs - styles)**/
.usual {
    background: none repeat scroll 0 0 #767676;
    border: 1px solid #222222;
    color: #111111;         
    margin: 8px 0;
    padding: 15px 20px;
    width: 1000px;
    float:left;
}

.usual h1{
    color:#FFFFFF;
}
.usual li {
    float: left;
    list-style: none outside none;
    margin-bottom: 0px !important;
}
.usual ul a {
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
    display: block;
    font: 10px Verdana;
    margin: 1px 1px 1px 0;
    padding: 6px 10px;
    text-decoration: none !important;
    font-size: 14px;
}
.usual ul a:hover {
    background: none repeat scroll 0 0 #111111;
    color: #FFFFFF;
}
.usual ul a.selected {
    background: none repeat scroll 0 0 snow;
    border-bottom: 1px solid snow;
    color: #000000;
    cursor: default;
    margin-bottom: 0;
    font-size:14px;
}
.usual div.tab {
    background: none repeat scroll 0 0 snow;
    clear: left;
    font: 10pt Georgia;
    padding: 40px;
    float:left;
    width:93%;    
}
.usual div a {
    color: #000000;
    font-weight: bold;
}
#usual2 {
    background: none repeat scroll 0 0 #767676;
    border: 1px solid #1A1A1A;
}
#usual2 a {
    background: none repeat scroll 0 0 #222222;
}
#usual2 a:hover {
    background: none repeat scroll 0 0 #000000;
}
#usual2 a.selected {
    background: none repeat scroll 0 0 snow;
}
#tabs3 {
   
}
.usual div.contaniner{
    float: left;
    width:100%;
    padding-bottom: 20px;
}
.usual div.label{
    float:left;
    width:20%;
}
.usual div.field{
    float:left;
    width:60%;
 }
 .usual div.field input{
     width: 400px; 
 }
 .usual div.field textarea{
     width: 400px; 
     height:200px;
 }

 
/** Upload Templates styles **/
.upload-table tr th span{
    margin-left: 20px;
    vertical-align: middle;
}

.upload-table tr th span:last-child{
   width: auto;
}

.upload-csv-btn{
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    max-height: 30px;
    padding: 0px;
    line-height: 24px;
}

/** Email Templates styles **/
#email-template-options table{
    border: 1px solid #eee;
    padding: 5px;
    width: 75%;
    margin: 0 auto;
}
#email-template-options th{
    text-align: right;
}
#email-template-options th, #email-template-options td{
    padding: 3px;
}
#email-template-options tr{
    width: 100%;
}
#email-template-options input{
    padding: 10px;
}
#email-template-options .col-xs-6{
    width: 49%;
}
#email-template-options .col-xs-3{
    width: 25%;
}
#email-template-options .col-xs-2{
    width: 20%;
}
#email-template-options .col-xs-12{
    width: 98%;
}
.pdfLink { display:inline-block; font-size:50px; padding-bottom:10px; text-align:center; }
.kycModify { text-align:center; color: #666666; font-family: 'Lato', sans-serif; font-size: 16px; line-height: 24px; }
.kyc-desc{ border-bottom:1px solid #e5e5e5; padding-bottom:20px;}
.kyc-Steps{ padding-top:10px;}
.kyc-Steps .radio .ui-state-default{ padding-bottom:18px !important; text-align:left;}
.kyc-list{ border-bottom:1px solid #e5e5e5; padding-bottom:25px; margin-bottom:30px;}
.kyc-list i{ color:#cc4f49; font-size:30px; }
.kyc-list span{ color:#666666; display:block; font-size:16px; font-weight:700;}
.upload-blk .col-xs-4{ margin-bottom:40px;}
.upload-blk .textArea{ margin-bottom:25px; text-align:center; }
.upload-blk .btn-large{ min-width:100%;}
.upLoaderImg-blk figure{ color:#fff; height:70px; display:block; margin:0 auto 4px; position:relative; width:100px; }
.upLoaderImg-blk figure:before{ background-color:rgba(0,0,0, 0.4); content:''; height:100%; left:0; position:absolute; width:100%; top:0; opacity:0;}
.upLoaderImg-blk .fa-search-plus{ height:18px; font-size:18px; margin-left:-8px; margin-top:-9px; left:50%; position:absolute; width:17px; top:50%; opacity:0;}
.upLoaderImg-blk figure .fa-search-plus, .upLoaderImg-blk figure:before{ -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -ms-transition:all 0.3s ease-in; -o-transition:all 0.3s ease-in; transition:all 0.3s ease-in;}
.upLoaderImg-blk a{ display:block;}
.upLoaderImg-blk figure:hover .fa-search-plus, .upLoaderImg-blk figure:hover:before{ color:#fff; opacity:1;}
.textVisa i{ color:#cc4f49; font-size:18px; padding-right:3px;}
.upLoaderImg-blk p{ padding-bottom:5px;}
.uploadImg { margin-bottom:15px !important; }
.upload-blkClone { display:none; }
.titleTop { border-bottom:1px solid #e0e0e0; display:inline-block; padding:0 10px 15px; }
.detailView > div { display:inline-block; min-width:275px; padding:0 60px; }
.firstStep h6 { font-weight:700; }
.file-Uploader { display:none; }
.ui-tooltip, .arrow:after { background: rgba(0, 0, 0, 0.6); }
.ui-tooltip { padding: 10px 20px; color: white; font-family: 'Lato', sans-serif; font-size: 14px; text-align:center; }
.arrow { bottom: -16px; height: 16px; left: 50%;  margin-left: -35px; overflow: hidden; position: absolute; width: 70px; }
.arrow.top { top: -16px; bottom: auto; }
.arrow.left { left: 20%; }
.arrow:after { box-shadow: 6px 5px 9px -9px black; content: ""; height: 25px; left: 20px; position: absolute; top: -20px; transform: rotate(45deg); -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); width: 25px; }
.arrow.top:after { bottom: -20px; top: auto; }

.text-center { text-align: center; }
.row { margin-left: -15px; margin-right: -15px; }
.clearfix:before, .clearfix:after, .row:before, .row:after { content: " "; display: table; }
.col-xs-4 { width: 33.33333333%; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
float:left;
}
.fa-file-pdf-o:before { content: "\f1c1" }
.upload-blk { overflow:hidden; }
.wp-admin .fancybox-overlay { z-index:999999}

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.row { margin-left: -15px; margin-right: -15px; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }
.col-xs-12 { width: 100%; }
.col-xs-11 { width: 91.66666667%; }
.col-xs-10 { width: 83.33333333%; }
.col-xs-9 { width: 75%; }
.col-xs-8 { width: 66.66666667%; }
.col-xs-7 { width: 58.33333333%; }
.col-xs-6 { width: 50%; }
.col-xs-5 { width: 41.66666667%; }
.col-xs-4 { width: 33.33333333%; }
.col-xs-3 { width: 25%; }
.col-xs-2 { width: 16.66666667%; }
.col-xs-1 { width: 8.33333333%; }
.col-xs-pull-12 { right: 100%; }
.col-xs-pull-11 { right: 91.66666667%; }
.col-xs-pull-10 { right: 83.33333333%; }
.col-xs-pull-9 { right: 75%; }
.col-xs-pull-8 { right: 66.66666667%; }
.col-xs-pull-7 { right: 58.33333333%; }
.col-xs-pull-6 { right: 50%; }
.col-xs-pull-5 { right: 41.66666667%; }
.col-xs-pull-4 { right: 33.33333333%; }
.col-xs-pull-3 { right: 25%; }
.col-xs-pull-2 { right: 16.66666667%; }
.col-xs-pull-1 { right: 8.33333333%; }
.col-xs-pull-0 { right: auto; }
.col-xs-push-12 { left: 100%; }
.col-xs-push-11 { left: 91.66666667%; }
.col-xs-push-10 { left: 83.33333333%; }
.col-xs-push-9 { left: 75%; }
.col-xs-push-8 { left: 66.66666667%; }
.col-xs-push-7 { left: 58.33333333%; }
.col-xs-push-6 { left: 50%; }
.col-xs-push-5 { left: 41.66666667%; }
.col-xs-push-4 { left: 33.33333333%; }
.col-xs-push-3 { left: 25%; }
.col-xs-push-2 { left: 16.66666667%; }
.col-xs-push-1 { left: 8.33333333%; }
.col-xs-push-0 { left: auto; }
.col-xs-offset-12 { margin-left: 100%; }
.col-xs-offset-11 { margin-left: 91.66666667%; }
.col-xs-offset-10 { margin-left: 83.33333333%; }
.col-xs-offset-9 { margin-left: 75%; }
.col-xs-offset-8 { margin-left: 66.66666667%; }
.col-xs-offset-7 { margin-left: 58.33333333%; }
.col-xs-offset-6 { margin-left: 50%; }
.col-xs-offset-5 { margin-left: 41.66666667%; }
.col-xs-offset-4 { margin-left: 33.33333333%; }
.col-xs-offset-3 { margin-left: 25%; }
.col-xs-offset-2 { margin-left: 16.66666667%; }
.col-xs-offset-1 { margin-left: 8.33333333%; }
.col-xs-offset-0 { margin-left: 0%; }
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after { content: " "; display: table; }
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after { clear: both; }

/** Woo Options - styles **/
#general_product_data .form-field input{
    width: 50%;
}

#shortcodes_table tr:nth-child(-n+12) {
display: none !important;
}
.pn_advanced_wp_popup_li{ top:18% !important; max-height: 450px !important; }
.advanced_wp_popup_adv { display:none;}
.pn_titlebar { display:none; }